.cartitem {
  display: grid;
  grid-template-columns: 2.5fr 1fr 0.5fr;
  gap: rem(16);
  align-items: center;
  width: 100%;
  border-radius: rem(16);

  @include respond-to(small) {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &-cover {
    border-radius: rem(8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: rem(80);
    height: rem(80);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-container {
    display: grid;
    gap: rem(16);
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &-responsive {
    display: flex;
    align-items: center;
    word-wrap: break-word;
    margin: 0;

    @include respond-to(small) {
      display: grid;
      gap: rem(8);
    }
  }

  &-details {
    display: grid;
    color: $primary-dark;
    width: 100%;
    gap: rem(4);
    text-align: left;

    p {
      font-size: rem(16);

      font-weight: 500;
      margin: 0;
      word-wrap: break-word;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      margin: 0;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include respond-to(small) {
        font-size: rem(14);
        font-weight: 500;
      }
    }

    span {
      font-size: rem(14);

      @include respond-to(small) {
        font-size: rem(12);
      }
    }
  }

  &-actions {
    display: grid;
    height: fit-content;
    gap: rem(8);

    @include respond-to(small) {
      display: none;
    }

    input {
      @include cartitem-select;
      max-width: rem(64) !important;
    }

    button {
      @include cartitem-button;
      text-align: left;
    }
  }

  &-details-actions {
    display: none;
    gap: rem(8);

    @include respond-to(small) {
      display: flex;
      align-items: center;
    }

    input {
      @include cartitem-select;
      max-width: rem(50) !important;
      width: 100%;
    }

    button {
      @include cartitem-button;
      text-align: left;
    }
  }

  &-price {
    color: $primary-dark;
    font-size: rem(14);
    -webkit-line-clamp: 1;
    font-weight: 500;
    margin: 0;
  }
}
