.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  background-color: $white;
  z-index: 9996;
  right: 0;
  top: 0;
  box-sizing: border-box;
  border-bottom: 1px solid $gray-light;
  padding: rem(8) rem(64);

  @include respond-to(large) {
    padding: rem(8) rem(32);
  }

  @include respond-to(medium) {
    padding: rem(8) rem(32);
  }

  @include respond-to(small) {
    padding: rem(4) rem(12);
  }

  &-logo {
    display: flex;
    align-items: center;
    gap: rem(4);
    cursor: pointer;
    justify-content: space-between;
    color: $primary-dark;

    &:hover {
      opacity: 80%;
    }

    h1 {
      margin: 0;
      font-size: x-large;

      @include respond-to(medium) {
        font-size: large;
      }

      @include respond-to(small) {
        font-size: large;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        color: $primary-color;
      }
    }

    &-icon {
      font-size: x-large;
      width: rem(32);
    }
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(32);

    li {
      display: flex;
      align-items: center;
      list-style: none;
    }

    &-cart {
      gap: rem(8);
      display: flex;
      align-items: center;
      color: $primary-color;
      font-weight: 500;
      cursor: pointer;
      background-color: white;
      border: none;
      transition: color 0.3s ease;

      span {
        color: $primary-dark;
        font-size: rem(16);
        font-weight: 500;
      }

      &-icon {
        cursor: pointer;
        font-size: x-large;

        &:hover{
          color: $primary-light;
        }
      }

      span {
        color: $primary-dark;
        font-size: rem(16);
        font-weight: 500;
      }
    }
  }
}

.cart-overlay {
  position: fixed;
  top: rem(72);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; // Ensure it is behind the modal but above other content
  background-color: rgba(255, 255, 255, 0.3); // Semi-transparent background
  backdrop-filter: blur(3px);
}
