@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");
:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Wix Madefor Display", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;

  --navbar-height: 80px;
}

body {
  margin: 0;
}

#app {
  max-width: 100%;
  padding: 0rem;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.clamped-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Number of lines to display before truncating */
  -webkit-line-clamp: 2;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
